<div class="container">
  <table style="width:100%">
    <tr class="floor">
      <td class="authorBox">
        <%= @topic.owner_name %>
      </td>
      <td class="contentBox">
        <h1><%= @topic.title %></h1>
        <% if @user.id.to_s === @topic.owner_id %>
          <%= link_to topic_destroy_path(@topic, :id => @topic.id), controller: 'topics', action: 'destroy', method: :delete, data: {confirm: 'Delete this topic?'} do %>
            <span class="glyphicon glyphicon-trash float-right" title = "Delete topic"> </span>
          <% end %>
          <%= link_to edit_topic_path(@topic, :id => @topic.id), controller: 'topics', action: 'get' do %>
            <span class="glyphicon glyphicon-pencil float-right" title = "Edit topic"> </span>
          <% end %>
        <% end %>
        <p><%= @topic.content%></p>
      </td>
    </tr>
  </table>

  <% @comments.each do |comment|%>
  <table style="width:100%">
    <tr class="floor">
      <td class="authorBox">
        <h1><%= comment.owner_name%></h1>
      </td>
      <td class="contentBox">
        <% if @user.id.to_s === comment.owner_id %>
          <%= link_to comment_destroy_path(comment, :id => comment.id), controller: 'comments', action: 'destroy', method: :delete, data: {confirm: 'Delete this comment?'} do %>
            <span class="glyphicon glyphicon-trash float-right" title = "Delete comment"> </span>
          <% end %>
          <%= link_to edit_comment_path(comment, :id => comment.id), controller: 'comments', action: 'get' do %>
            <span class="glyphicon glyphicon-pencil float-right" title = "Edit comment"> </span>
          <% end %>
        <% end %>
        <p><%= comment.content%></p>
      </td>
    </tr>
  </table>
  <% end %>

  <% if current_user != nil%>
    <%= form_with scope: :comment, url: "comments"  do |f| %>

      <div>
        <%= f.text_area :content, placeholder: "Content" %>
      </div>
      <div>
        <%= f.hidden_field :topic_id, :value => "#{@topic.id}"%>
      </div>

    <%= f.submit %>
    <% end %>
  <% end %>


</div>
