<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
  </ol>

  <div class="welcomeImage" style="width:100%; height: 40vh;">
    <h1>The world evolves at the speed of tech.</h1>
    <h4>You and your business should, too.</h4>
    <div class="searchBar">
      <div id="sessionSearch" style="margin:3%;">
        <%= form_with url: search_path, id:"sessionSearch" do |form| %>
        <div class="input-group">
          <%= form.text_field(:search, class: 'search-query form-control', placeholder: "Search Topics") %>
          <div class="input-group-btn">
            <button class="btn btn-danger" type:'submit'><span class="glyphicon glyphicon-search"></span></button>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="indexBottom">
  <% @rooms.each do |room| %>
  <div class="sessionsRenderBox">
    <div class="panel panel-warning">
      <%= link_to room_path(room.id) do %>
        <div class="panel-heading">:::<%= room.name %>:::</div>
      <% end %>
      <%room.topics.sort.reverse.take(6).each do |t|%>
        <%= link_to topic_path(t.id) do %>
          <div class="panel-footer">
            <%= t.title %>
            <p class="float-right" style="margin-right:2%;" title="Comments"><%= t.comments.length %></p>
            <p class="float-right glyphicon glyphicon-comment" style="margin-right:5px;" title="Comments"></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
  </div>

</div>
