<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to "#{@room.name}", room_path(@room.id) %></li>
  </ol>
  <div class="sessionHeaderBox">

    <div class="sessionHeader">
      <img class="sessionLogo" src='<%=image_path("sessionLogo.png")%>' alt="">

      <div class="sessionSearchBar">
        <span class="sessionName"><%= @room.name%></span>
        <div id="sessionSearch" style="margin-top:5%;">
          <%= form_with url: search_path do |form| %>
              <div class="input-group">
                <%= form.text_field(:search, class: 'search-query form-control') %>
              <div class="input-group-btn">
                <button class="btn btn-danger" type:'submit'><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
          <% end %>
          </div>
      </div>

    </div>

    <span class="helper"></span>

  </div>

  <div class="topicsContainer">
    <% @topics.reverse.each do |topic| %>
    <div class="topicBox">
      <%= link_to url_for(action: 'show', controller: 'topics', id: "#{topic.id}") do %>
        <h1 class="topicTitle"><%= topic.title %></h1>
      <% end %>
      <br>
      <p class="topicContent"><%= topic.content %></p>
        <p class="float-right">Created By:
          <%= link_to user_path(topic.owner_id) do %>
            <%= topic.owner_name %>
          <% end %>
        </p>
      <p class="float-right" style="margin-right:2%;" title="Comments"><%= topic.comments.length %></p>
      <p class="float-right glyphicon glyphicon-comment" style="margin-right:5px;" title="Comments"></p>
      <br>
      <%if topic.created_at === topic.updated_at%>
        <p class="float-right"><%= topic.created_at %></p>
      <%else%>
        <p class="float-right">Updated at: <%= topic.updated_at %></p>
      <%end%>
    </div>
    <% end %>
  </div>
  <% if current_user != nil%>
  <%= form_with scope: :topic, url: "topics" do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "Title", style: "width:80%; opacity:.8;" %>
    </div>
    <div>
      <%= f.text_area :content, placeholder: "Content", style: "width:80%; height:30vh; opacity:.8;" %>
    </div>
    <div>
      <%= f.hidden_field :room_id, :value => "#{@room.id}"%>
    </div>

    <%= f.submit %>
  <% end %>
  <% end %>

</div>
