<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to "#{@user.username}'s Profile", user_path(@user.id) %></li>
  </ol>
  <div class="profileContainer">
    <div class="profileHeader">
      <img src="<%= asset_path("gameIcon.png") %>" class="profileIcon"></img>
      <h1 class="profileName"><%= @user.username%> <span>--- Profile</span></h1>
      <% if current_user != nil%>
        <button class="btn btn-warning float-right" type="button" data-toggle="modal" data-target="#myModalMessage">Sent Message</button>
      <%end%>
      <% if current_user != nil && current_user.id.to_s === @user.id.to_s%>
        <%= button_to("Messages received", user_message_path, method: :get, :class => "btn btn-warning")%>
        <%= button_to("Messages send", user_message_send_path, method: :get, :class => "btn btn-warning")%>
      <% end %>
    </div>

    <div class="profileBody">
      <div class="profileInfo">
        <% @send_message.each do |m|%>
         <% if m.sender_show != nil%>
          <div class="messageBox">
            <div class="messageShow" data-toggle="modal" data-target="#showMessage<%=m.id%>"><%=m.content%></div>
            <p class="lower-right">Send To: <%=m.receiver_name%></p>
            <%= link_to message_notshow_send_path(m, :id => m.id), controller: 'message', action: 'notshowsendmessage', method: :patch, data: {confirm: 'Delete this message?'}, :class => "toolBTN float-right" do %>
              <span class="glyphicon glyphicon-trash" title = "Delete message"> </span>
            <% end %>
          </div>
          <!-- Modal for showmessage -->
          <div class="modal fade" id="showMessage<%=m.id%>" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <button type="button" class="close"
                  data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                  Send to: <%=m.receiver_name%>
                </h4>
              </div>

              <!-- Modal Body -->
              <div class="modal-body">
                <p><%=m.content%><p>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                  data-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
         <%end%>
        <%end%>
      </div>
    </div>

  </div>
</div>

<!-- Modal for message -->
  <div class="modal fade" id="myModalMessage" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
                Message
            </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
            <%= form_for @message do |f| %>
            <p>Sent to:</p>
            <div>
              <%= f.text_field :receiver_name, placeholder: "receiver", :value => "#{@user.username}" %>
            </div>
            <div>
              <%= f.text_area :content, placeholder: "Content", style: "width:80%; height:20vh; margin-top:2%" %>
            </div>
            <%= f.submit "Sent", :class => "btn btn-default", style: "margin-top:2%"%>
            <%end%>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                        Close
            </button>
        </div>
      </div>
    </div>
  </div>
